<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aleksandrpolkin.ru.myproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Между элементами (в данном случае разными активити) лучше оставлять пустую строку,
        чтобы было проще читать код-->
        <activity android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ChatKitActivity" />
        <activity android:name=".RegistrationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--Обращай внимание на замечания Lint'а. Он подсвечивает желтым, что можно поправить.
        Если поставить курсор внутрь подсвеченного кода и нажать Alt+Enter, то тебе предложат
        исправить код автоматически-->
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>